# Unity - Ana Sistem Klasörleri
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Unity - Otomatik Üretilen Dosyalar
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
*.DS_Store

# Unity - Ayarlar ve Paket Bilgisi (bu klasörler **takibe alınmalı**)
!Assets/
!ProjectSettings/
!Packages/
!UserSettings/  # bazı özel durumlarda gerekebilir

# Visual Studio Code
.vscode/

# Mac OS
.DS_Store